<header>
  <!-- blank -->
  <div class="w-full h-14 relative"></div>

  <div class="w-full border-b shadow bg-white fixed top-0 z-50">
    <div class="container h-14 mx-auto p-5 flex justify-between items-center">
      <div class="flex items-center gap-2">
        <img src="./assets/img/logo.png" class="size-8 object-contain" />
        <div class="text-blue-950 font-bold">DIANins</div>
      </div>

      <div class="text-blue-950 text-sm font-semibold flex gap-5">
        <a href="">保险计划</a>
        <a href="">客户服务</a>
      </div>
    </div>
  </div>
</header>
